<!DOCTYPE html>

<html>

  <head>
    <!-- Styles -->
    <link href="assets/styles.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <% include partials/nav.ejs %>
    <h1>Contact us</h1>
    <p>We are cool bro! Feel free to contact us at any time!</p>
  </body>

</html>
