<!DOCTYPE html>

<html>

  <head>
    <!-- Styles -->
    <!-- <link href="./styles.css" type="text/css" rel="stylesheet"> -->
    <style>
      body {
        background: skyblue;
        font-family: monospace;
        color: #eee;
        padding: 30px;
      }

      h1 {
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
      }

      p {
        font-size: 16px;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <% include partials/nav.ejs %>
    <h1>Contact us</h1>
    <p>We are cool bro! Feel free to contact us at any time!</p>
  </body>

</html>
