<!DOCTYPE html>

<html>

  <head>
    <!-- Styles -->
    <link href="assets/styles.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <% include partials/nav.ejs %>
    <h1>Welcome to the best site on the net ever!</h1>
    <p>You won't find any site better than this!</p>
  </body>

</html>
